/* global */
:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize !important;
}

img {
  width: 100%;
}

/* main navbar */
.navbar {
  background-color: #151853 !important;
  padding: 10px 0px;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 111;

  .collapse {
    justify-content: center;

    .navbar-nav {
      .nav-item {
        margin: 0px 10px;
        .nav-link {
          color: #fff;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #c63fa4;
            margin: 0px 10px;
          }
        }
        .here {
          color: #c63fa4;
          font-weight: bolder;
        }
      }
    }
  }
}

/* offcanvas */
.offcanvTrigger {
  display: none;
  background-color: transparent !important;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 111;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  i {
    color: #fff;
  }
}

.offcanvas {
  background-color: #151853;
  backdrop-filter: blur(10px);

  .offcanvas-header {
    justify-content: space-between;
    img {
      width: 50%;
    }
    .closeOff {
      background-color: transparent;
      border: none;

      i {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .offcanvas-body {
    .nav-list {
      list-style: none;
      .nav-item {
        margin: 20px 0px;
        .nav-link {
          color: #fff;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #c63fa4;
          }
        }
        .here {
          color: #c63fa4;
          font-weight: bolder;
        }
      }
    }
  }
}

.home {
  height: 1100px;
  position: relative;
  background-image: url(../img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.497);
  position: absolute;
  inset: 0;
}

.home .text {
  position: absolute;
  top: 40%;
  right: 15%;
  line-height: 1.25;
  text-align: right;
  z-index: 111;
}

.home .text h2::after {
  content: "";
  height: 20px;
  width: 350px;
  position: absolute;
  top: 67px;
  right: 5px;
  z-index: -1;
  background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
}

.home .text h2 {
  position: relative;
  font-weight: 700;
  font-size: 90px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  line-height: 1.25;
  color: #ffffff;
}

.home .text h6 {
  color: #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

.home .text .textbtn {
  position: relative;
  line-height: 46px;
  font-size: 14px;
  border-radius: 23px;
  font-weight: 600;
  text-align: center;
  border: none;
  padding: 0px 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #df42b1;
  background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.home .text .textbtn::after {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 23px;
  background-color: #000;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.home .text .textbtn:hover::after {
  width: 100%;
  background-color: #fff;
}

.home .text .textbtn:hover {
  color: #111343;
}

.home .text .textbtn i {
  padding: 7px;
}

.home .text .textbtn:hover i {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.home .btns .btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px #9293bc solid;
  margin: 0px 60px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home .btns .btn:hover {
  background-color: rgba(101, 101, 108, 0.848);
}

.home .btns .btnLeft {
  position: absolute;
  top: 50%;
  left: 1%;
}

.home .btns .btnRight {
  position: absolute;
  top: 50%;
  right: 1%;
}

.home .btns .btnBottom {
  position: absolute;
  width: 26px;
  height: 39px;
  border-radius: 25px;
  bottom: 3%;
  left: 50%;
}

.home .btns .btnBottom:hover {
  background-color: transparent;
}

.home .btns .btnBottom i {
  position: absolute;
  inset: 0;
  animation-name: scrollball;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  color: #fff;
  font-size: 20px;
}

@keyframes scrollball {
  0% {
    top: -5px;
    opacity: 1;
  }

  50% {
    top: 8px;
    opacity: 0;
  }

  100% {
    top: -5px;
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-conference {
  background-color: #151853;
  overflow: hidden;
}

.about-conference .up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-conference .content {
  text-align: left;
  width: 50%;
}

.about-conference .up .content h6 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #4b4d7b;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: inline-block;
  color: #df42b1;
}

.about-conference .up .content h3 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 1.25;
  font-weight: 600;
}

.about-conference .up .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 0;
  color: #fff;
}

.about-conference .up .img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-conference .up .content .btn {
  position: relative;
  line-height: 46px;
  font-size: 14px;
  border-radius: 23px;
  font-weight: 600;
  text-align: center;
  border: none;
  padding: 0px 20px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #df42b1;
  background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.about-conference .up .content .btn::after {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 23px;
  background-color: #000;
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.about-conference .up .content .btn:hover::after {
  width: 100%;
  background-color: #fff;
}

.about-conference .up .content .btn:hover {
  color: #111343;
}

.about-conference .up .content .btn i {
  padding: 7px;
}

.about-conference .up .content .btn:hover i {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.about-conference {
  .down {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;

    .content {
      width: 17%;

      h6 {
        font-size: 14px;
        text-transform: uppercase;
        color: #df42b1;
        font-weight: 400;
        margin-bottom: 15px;
        line-height: 1.25;
      }

      h4 {
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1.25;
        font-weight: 600;
      }
    }

    .countdown {
      display: flex;
      justify-content: center;
      width: 60%;

      .card {
        color: #ffffff;
        text-align: center;
        font-size: 62px;
        font-weight: 600;
        padding: 20px 5px;
        width: 15%;
        margin: 0 15px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        text-align: center;
        line-height: 1;

        span {
          margin-top: 5px;
          font-size: 18px;
          color: #5d5e8d;
          font-weight: 500;
          display: block;
        }
      }
    }
  }
}

.our-speakings {
  background-image: url(../img/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.our-speakings .overlay {
  width: 100%;
  height: 100%;
  background: #c63fa4;
  background-image: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
  position: absolute;
  inset: 0;
  opacity: 0.9;
}

.our-speakings .header {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  margin-top: 40px;
  text-align: center;
}

.our-speakings .header p {
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.our-speakings .header h4 {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 600;
  margin-top: 0;
}

.our-speakings .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  z-index: 11;
}

.our-speakings .cards .card .img {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.our-speakings .cards .card img {
  border-radius: 10px;
  display: block;
}

.our-speakings .cards .card .img .overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  inset: 0;
  border-radius: 10px;
  z-index: 10;
  opacity: 1;
}

.our-speakings .cards .card {
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
  width: 30%;
  overflow: hidden;
}

.our-speakings .cards .card .info {
  position: absolute;
  padding-left: 10px;
  bottom: 25px;
  left: 25px;
  z-index: 22;
}

.our-speakings .cards .card .info h5 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
  line-height: 1.25;
  margin-top: 0;
}

.our-speakings .cards .card .info p {
  color: #df42b1;
  margin-bottom: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

.our-speakings .cards .card .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -180px;
  right: 0px;
  z-index: 22;
  background-color: #df42b1;
  padding: 15px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  transition: all 0.9s;
}

.our-speakings .cards .card:hover .icons {
  top: 0px;
}

.our-speakings .cards .card .icons a {
  margin: 5px 0px;
}

.our-speakings .cards .card .icons i {
  color: #fff;
}

.our-speakings .btn {
  text-align: center;
  margin-bottom: 30px;
}

.our-speakings .speakers {
  position: relative;
  line-height: 46px;
  font-size: 14px;
  border-radius: 23px;
  font-weight: 600;
  text-align: center;
  border: 1px #fff solid;
  padding: 0px 20px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.our-speakings .speakers:hover {
  background-color: #df42b1;
  border: 1px #df42b1 solid;
}

.our-speakings .speakers i {
  padding: 7px;
}

.our-timetable {
  background-color: #151853;
  overflow: hidden;

  .header {
    text-align: center;
    margin-top: 30px;

    p {
      color: #df42b1;
      text-transform: uppercase;
      margin-bottom: 0;
      display: inline-block;
      font-weight: 400;
      line-height: 1.8;
      font-size: 16px;
    }

    h4 {
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btnrow {
      margin: 30px 0px;
      display: flex;
      flex-direction: row;

      .day {
        color: #9293bc;
        background-color: #1f2371;
        text-align: center;
        border-radius: 0px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 15px 30px;
        border-bottom: none;
        border-top: none;
        border-left: none;
        cursor: pointer;

        span {
          display: block;
          font-size: 12px;
          font-weight: 700;
          margin-top: 5px;
        }
      }

      .left {
        border-radius: 10px 0px 0px 10px;
        border-right: 1px solid #4c4f8d;
      }

      .right {
        border-radius: 0px 10px 10px 0px;
        border-left: 1px solid #4c4f8d;
      }
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #444675;
      border-radius: 10px;
      padding: 25px;
      width: 950px;
      height: 150px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        border: 1px solid #c63fa4;
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .img {
          width: 90px;
          height: 90px;
          border-radius: 100%;

          img {
            border-radius: 50%;
          }
        }

        .text {
          margin: 10px;

          h6 {
            font-size: 20px;
            color: #ffffff;
            font-weight: 600;
            line-height: 1.25;
            margin-top: 0;
          }

          p {
            color: #9293bc;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.8;

            span {
              color: #ffffff;
            }
          }
        }
      }

      .details {
        margin: 0px 20px;

        p {
          color: #ffffff;
          font-size: 16px;
          line-height: 1.8;
          font-weight: 400;

          i {
            color: #c63fa4;
            margin: 10px;
          }
        }
      }

      .btn {
        .more {
          position: relative;
          line-height: 46px;
          font-size: 14px;
          border-radius: 23px;
          font-weight: 600;
          text-align: center;
          border: none;
          padding: 0px 20px;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #df42b1;
          background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
          cursor: pointer;
          overflow: hidden;
          z-index: 1;

          &::after {
            content: "";
            width: 0%;
            height: 100%;
            border-radius: 23px;
            background-color: #000;
            position: absolute;
            inset: 0;
            z-index: -1;
            transition: all 0.5s ease-in-out;
          }

          &:hover::after {
            width: 100%;
            background-color: #fff;
          }

          &:hover {
            color: #111343;
          }

          i {
            padding: 7px;
          }

          &:hover i {
            animation-name: flash;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }

    .download {
      margin-bottom: 40px;
      position: relative;
      line-height: 46px;
      font-size: 14px;
      border-radius: 23px;
      font-weight: 600;
      text-align: center;
      border: none;
      padding: 0px 20px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: transparent;
      border: 1px #c63fa4 solid;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 23px;
        background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
        opacity: 0;
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: all 0.5s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.tickets {
  overflow: hidden;
  background-image: url(../img/14.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #c63fa4;
    background-image: linear-gradient(145deg, #505add 0%, #df42b1 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.9;
  }

  .header {
    text-align: center;

    p {
      line-height: 1.8;
      font-size: 16px;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 0;
      display: inline-block;
      font-weight: 400;
    }

    h4 {
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: 600;
    }
  }

  .cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;

    .card {
      position: relative;
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      width: 20%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.1);
      }

      .plan {
        position: absolute;
        top: 0;
        left: 27%;
        background-color: #e93fbe;
        color: #fff;
        padding: 10px 25px;
        margin-bottom: 25px;
        border-radius: 0px 0px 5px 5px;
        text-transform: uppercase;

        h6 {
          font-weight: 600;
          line-height: 1;
          font-size: 16px;
        }
      }

      .img {
        margin-top: 20px;

        img {
          width: 80px;
          height: 100px;
        }
      }

      .price {
        margin: 25px 0px 15px 0px;

        h2 {
          font-size: 60px;
          color: #111343;
          font-weight: 600;
        }
      }

      .get {
        position: relative;
        line-height: 46px;
        font-size: 14px;
        border-radius: 23px;
        font-weight: 500;
        height: 46px;
        text-align: center;
        border: none;
        padding: 0px 20px;
        text-transform: uppercase;
        color: #fff;
        background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        margin-bottom: 10px;

        &::after {
          content: "";
          width: 0%;
          height: 100%;
          background-color: #fff;
          border-radius: 23px;
          position: absolute;
          inset: 0;
          z-index: -1;
          transition: all 0.5s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          color: #111343;
          box-shadow: 0px 0px 15px #000000a3;
        }

        i {
          padding: 7px;
        }

        &:hover i {
          animation-name: flash;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
      }

      .details {
        p {
          font-size: 14px;
          color: #5d5e8d;
          margin-bottom: 8px;
          line-height: 1.8;
          font-weight: 400;
          margin-top: 0;

          span {
            i {
              margin-right: 5px;
              color: #df42b1;
            }
          }
        }
      }
    }
  }
}

.sponsers {
  position: relative;
  background-color: #151853;
  text-align: center;
  overflow: hidden;

  .header {
    margin: 60px 0px;

    p {
      color: #df42b1;
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 1.8;
      font-size: 16px;
    }

    h4 {
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: 600;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .boxes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .box {
        display: flex;
        justify-content: center;
        width: 25%;
        height: 250px;
        text-align: center;
        border: 1px solid #444675;

        &:hover .img img {
          opacity: 1;
        }

        .img {
          align-self: center;

          img {
            opacity: 0.5;
            cursor: pointer;
            transition: all 0.5s;
          }
        }
      }
    }

    .cards {
      margin: 40px;
      display: flex;
      justify-content: center;

      .card {
        text-align: left;
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 40px 50px;
        border-radius: 10px;
        margin: 20px;

        p {
          color: #ffffff;
          margin-bottom: 20px;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.8;
        }

        .info {
          display: flex;
          justify-content: flex-start;

          .img {
            img {
              width: 50px;
              height: 50px;
              border-radius: 100%;
            }
          }

          .text {
            margin-left: 10px;

            h6 {
              color: #ffffff;
              font-size: 18px;
              margin-bottom: 0;
              line-height: 1.25;
              font-weight: 600;
            }

            p {
              margin-top: 0;
              margin-bottom: 0;
              color: #df42b1;
              font-weight: 300;
              line-height: 1.8;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.blog {
  background-image: url(../img/17.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #c63fa4;
    background-image: linear-gradient(145deg, #505add 0%, #df42b1 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.9;
  }

  .header {
    p {
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 0;
      display: inline-block;
      font-weight: 400;
      line-height: 1.8;
      font-size: 16px;
    }

    h4 {
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: 600;
    }
  }

  .content {
    display: flex;
    justify-content: center;

    .cards {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      .card {
        position: relative;
        overflow: hidden;
        width: 25%;
        background-color: #fff;
        border-radius: 10px;
        margin: 40px 20px;

        .img {
          overflow: hidden;
        }

        .img img {
          display: block;
          width: 110%;
          transition: all 0.5s;
        }

        &:hover img {
          transform: scale(1.1);
        }

        .text {
          i {
            margin: 5px;
          }

          h3 {
            display: block;
            font-size: 20px;
            font-weight: 600;
            color: #111343;
            margin-bottom: 5px;
            display: inline-block;

            &:hover {
              color: #e93fbe;
              cursor: pointer;
            }
          }

          .date {
            display: inline-block;
            margin-right: 15px;
            font-size: 12px;
            color: #9293bc;

            &:hover {
              color: #e93fbe;
              cursor: pointer;
            }
          }

          .name {
            display: inline-block;
            font-size: 12px;
            color: #9293bc;

            &:hover {
              color: #e93fbe;
              cursor: pointer;
            }
          }

          .desc {
            color: #5d5e8d;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
            margin: 10px;
          }
        }

        .arrow {
          display: inline-block;
          width: 51px;
          height: 51px;
          border-radius: 50%;
          border: 2px #fff solid;
          font-size: 20px;
          background-image: linear-gradient(-105deg, #505add 0%, #df42b1 100%);

          &:hover {
            cursor: pointer;
          }

          i {
            color: #fff;
          }
        }
      }
    }
  }
}

.contact {
  background-color: #151853;
  overflow: hidden;
  position: relative;

  .header {
    text-align: center;
    margin: 30px 0px;

    p {
      color: #df42b1;
      text-transform: uppercase;
      margin-bottom: 0;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.8;
    }

    h4 {
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 1.25;
      font-weight: 600;
    }
  }

  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .col1 {
      width: 30%;

      p {
        color: #9293bc;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
      }

      h6 {
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 5px;
        line-height: 1.25;
        font-weight: 600;
      }
    }

    .col2 {
      background-color: rgba(255, 255, 255, 0.05);
      padding: 30px;
      border-radius: 10px;
      width: 60%;
      margin-bottom: 60px;

      .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;

        .box1,
        .box2 {
          width: 40%;
          margin: 10px 30px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #dbdcf1;
        }

        .box3,
        .box4 {
          width: 40%;
          margin: 30px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #dbdcf1;
        }

        .box5 {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #dbdcf1;
          margin-bottom: 20px;
        }

        .box6 {
          position: relative;
          line-height: 46px;
          font-size: 14px;
          border-radius: 23px;
          font-weight: 500;
          height: 46px;
          text-align: center;
          border: none;
          padding: 0px 20px;
          text-transform: uppercase;
          color: #fff;
          background: linear-gradient(-120deg, #505add 0%, #df42b1 100%);
          cursor: pointer;
          overflow: hidden;
          z-index: 1;
          margin-bottom: 10px;

          &::after {
            content: "";
            width: 0%;
            height: 100%;
            background-color: #fff;
            border-radius: 23px;
            position: absolute;
            inset: 0;
            z-index: -1;
            transition: all 0.5s ease-in-out;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            color: #111343;
            box-shadow: 0px 0px 15px #000000a3;
          }

          i {
            padding: 7px;
          }

          &:hover i {
            animation-name: flash;
            animation-duration: 1s;
            animation-iteration-count: infinite;
          }
        }
      }
    }
  }
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #111343;

  .top {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;

    .box {
      width: 20%;

      h5 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 20px;
        line-height: 1.25;
        font-weight: 600;
      }
    }

    .box1 {
      .img {
        margin-bottom: 10px;
        cursor: pointer;

        img {
          width: 50%;
        }
      }

      p {
        color: #9293bc;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 30px;
      }

      span {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-bottom: 0;
        border-radius: 100%;
        display: inline-block;
        color: #fff;
        text-align: center;
        margin-right: 8px;
        background: transparent;
        border: 1px solid #3d3e66;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: #3d3e66;
        }
      }
    }

    .box2 {
      p {
        color: #9293bc;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8;
        margin: 10px 0px;
      }

      span {
        margin-right: 10px;
      }
    }

    .box3 {
      p {
        color: #9293bc;
        font-size: 14px;
        margin-bottom: 15px;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }
    }

    .gallery {
      .gallery {
        display: flex;
        flex-wrap: wrap;

        .img {
          position: relative;
          width: 25%;
          margin: 5px;
        }

        img {
          display: block;
          border-radius: 10px;
          cursor: pointer;
          z-index: 1;

          /* i have no idea why this overlay ain't working at all, please help */
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: #c63fa4;
            background-image: linear-gradient(145deg, #505add 0%, #df42b1 100%);
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: 0;
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4b4d7b;
    margin-bottom: 40px;
    padding: 10px;

    .text {
      p {
        color: #9293bc;
        font-size: 14px;
        margin-bottom: 0;
        line-height: 1.8;
        font-weight: 400;

        span {
          cursor: pointer;

          &:hover {
            color: #e93fbe;
          }
        }
      }
    }

    .list {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;

        i {
          color: #4c4f8d;
        }

        li {
          margin: 0px 10px;
          cursor: pointer;
          color: #9293bc;
          font-size: 14px;
          font-weight: 400;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

/* responsive */
